<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <header>
    <div class="page-header container">
      <h1><a href="/">亡者农药</a> <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <p><strong>Id:</strong>{{$data.id}}</p>
    <p><strong>姓名:</strong>{{$data.name}}</p>
    <p><strong>性别:</strong>{{$data.gender}}</p>
    <p><strong>职业:</strong>{{$data.professional}}</p>
  </div>
</body>

</html>